<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title> My budget app</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>MY BUDGET APP</header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Created by krausyd
    </footer>
</body>
</html>